$color-grey-dark:#777;
$light-green: rgba(126, 213, 111, 0.8);
$medium-green:#55c57a;
$dark-green:rgba(40, 180, 131, 0.8);
$color-white:#fff;
$color-black: #000;
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-text-dark:#333;
$color-text-light:#eee;

$width-button: 150px;
